[Unit]
Description=Remove downloads Sonarr or Radarr flagged as executables (@NAME@)

[Service]
Type=oneshot
@ENVIRONMENT@
ExecStart=@MSE@ clean-downloads
Nice=10
IOSchedulingClass=idle
