[Unit]
Description=Back up media-server app state
Wants=network-online.target
After=network-online.target docker.service

[Service]
Type=oneshot
User=@USER@
Group=@GROUP@
SupplementaryGroups=docker
Environment=MSE_INSTALLATION=@INSTALLATION@
ExecStart=@MSE@ backup
Nice=10
IOSchedulingClass=idle
