[Unit]
Description=Bring the media server up to date with its config repository
Wants=network-online.target
After=network-online.target docker.service media-backup.service

[Service]
Type=oneshot
User=@USER@
Group=@GROUP@
SupplementaryGroups=docker
@ENVIRONMENT@
ExecStart=@MSE@ update --apply
Nice=10
IOSchedulingClass=idle
